In [1]:
class Person:

  def __init__(self,name_input,country_input):
    self.name = name_input
    self.country_input =  country_input


p1 = Person('Nitish','India')
p2 = Person('steves','australia')

In [5]:
class Person:

  def __init__(self,name,gender):
    self.name = name
    self.gender = gender


p1 = Person("sahil","Male")
p2 = Person("Harsh","Male")


L = [p1,p2]


for i in L:
  print(i.name,i.gender)

sahil Male
Harsh Male

In [9]:
d = {'p1':p1,'P2':p2}

for i in d:
  print(d[i].gender)

Male
Male

In [22]:
class Point:


  def __init__(self,x,y):
    self.x_cod = x
    self.y_cod = y


  def __str__(self):
      return '<{},{}>'.format(self.x_cod, self.y_cod)


  def euclidiean_distance(self,other):
      return ((self.x_cod - other.x_cod)**2 + (self.y_cod - other.y_cod)**2)**0.5

In [23]:
p1 = Point(0,0)
p2 = Point(10,10)

p1.euclidiean_distance(p2)

14.142135623730951

In [17]:
P1 = Point(0,0)
p2 = Point(-2,-1)

print(P1)
print(p2)

<__main__.Point object at 0x781c425fc190>
<__main__.Point object at 0x781c41cf9250>

In [29]:
class Person:


  def __init__(self,name,country_input):
    self.name  = name
    self.country = country_input


    def greet( self):
      if self.country == "India":
        print("Namaste",self.name)
      else:
        print("It is not our country".self.country_input)

In [30]:
p = Person("sahil","Namaste")

In [31]:
p.name

'sahil'

In [32]:
p.country

'Namaste'

In [33]:
p.gender = "male"

In [34]:
p.gender

'male'

In [36]:
#object without  a reference

class Person:

  def __init__(self):
    self.name = "Nitish"
    self.gender ="Male"


p = Person()
q = p

In [37]:
print(id(p))
print(id(q))

132062759723920
132062759723920

In [38]:
print(p.name)
print(q.name)

q.name = 'ankit'

print(q.name)
print(p.name)

Nitish
Nitish
ankit
ankit

In [49]:
class Person:


  def __init__(self,name,gender):
    self.name = name
    self.gender = gender



def greet(Person):
  print(id(Person))
  print("Hi my name is ",Person.name,'and I am a ',Person.gender)
  Person.name = "ankit"
  print(Person.name)



p = Person("Nitish","male")
print(id(p))
greet(p)
print(p.name)

132062758408592
132062758408592
Hi my name is  Nitish and I am a  male
ankit
ankit

In [50]:
# Mutability concept in OOPs objects

class Person:


  def __init__(self,name,gender):
    self.name = name
    self.gender = gender



def greet(Person):
  print(id(Person))
  print("Hi my name is ",Person.name,'and I am a ',Person.gender)
  Person.name = "ankit"
  return Person



p = Person("Nitish","male")
print(id(p))
p1 = greet(p)
print(id(p1))

132062759945808
132062759945808
Hi my name is  Nitish and I am a  male
132062759945808

In [ ]:
#üéØ Project Overview:
# Build a modular pipeline using OOP for processing data files and logging results.
# üîß Classes to Create:
# 1. DataLoader ‚Äì load CSV/JSON files.
# 2. DataCleaner ‚Äì drop nulls, fix types.
# 3. DataTransformer ‚Äì add calculated fields.
# 4. Logger ‚Äì logs events with timestamps.
# 5. PipelineManager ‚Äì orchestrates the above classes.
# üí° Bonus:
# ‚óè Add unit test support (unittest or pytest)
# ‚óè Implement logging using built-in logging module
# ‚óè Design it for extension: make it work for both sales and weather datasets

In [110]:
import pandas as pd
import os

class DataLoader:

    def __init__(self, file_to_load):
      self.file = file_to_load

    def load(self):
      self.df = pd.read_csv(self.file)
      print(self.df.head())



file_to_load = "/content/expense_data.csv"
a = DataLoader(file_to_load)

a.load()

             Date               Account        Category  Subcategory  \
0  3/2/2022 10:11  CUB - online payment            Food          NaN
1  3/2/2022 10:11  CUB - online payment           Other          NaN
2  3/1/2022 19:50  CUB - online payment            Food          NaN
3  3/1/2022 18:56  CUB - online payment  Transportation          NaN
4  3/1/2022 18:22  CUB - online payment            Food          NaN

               Note    INR Income/Expense  Note.1  Amount Currency  Account.1
0           Brownie   50.0        Expense     NaN    50.0      INR       50.0
1  To lended people  300.0        Expense     NaN   300.0      INR      300.0
2            Dinner   78.0        Expense     NaN    78.0      INR       78.0
3             Metro   30.0        Expense     NaN    30.0      INR       30.0
4            Snacks   67.0        Expense     NaN    67.0      INR       67.0

In [141]:
class DataCleaner(DataLoader):

  def clean(self):
    super().load()
    # print(self.df.isna().sum())
    # # self.df.dropna()



    self.df['Subcategory'].fillna(0, inplace=True)
    self.df['Note.1'].fillna(99, inplace=True)

    self.newdf = self.df
    print('done')



b = DataCleaner(file_to_load)
z= b.clean()
print(z)

             Date               Account        Category  Subcategory  \
0  3/2/2022 10:11  CUB - online payment            Food          NaN
1  3/2/2022 10:11  CUB - online payment           Other          NaN
2  3/1/2022 19:50  CUB - online payment            Food          NaN
3  3/1/2022 18:56  CUB - online payment  Transportation          NaN
4  3/1/2022 18:22  CUB - online payment            Food          NaN

               Note    INR Income/Expense  Note.1  Amount Currency  Account.1
0           Brownie   50.0        Expense     NaN    50.0      INR       50.0
1  To lended people  300.0        Expense     NaN   300.0      INR      300.0
2            Dinner   78.0        Expense     NaN    78.0      INR       78.0
3             Metro   30.0        Expense     NaN    30.0      INR       30.0
4            Snacks   67.0        Expense     NaN    67.0      INR       67.0
done
None

/tmp/ipython-input-141-422065876.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['Subcategory'].fillna(0, inplace=True)
/tmp/ipython-input-141-422065876.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['Note.1'].fillna(99, inplace=True)

In [143]:
class DataTransformer(DataCleaner):

  def transform(self):
    super().clean()
    print(self.newdf)

h = DataTransformer(file_to_load)
h.transform()

             Date               Account        Category  Subcategory  \
0  3/2/2022 10:11  CUB - online payment            Food          NaN
1  3/2/2022 10:11  CUB - online payment           Other          NaN
2  3/1/2022 19:50  CUB - online payment            Food          NaN
3  3/1/2022 18:56  CUB - online payment  Transportation          NaN
4  3/1/2022 18:22  CUB - online payment            Food          NaN

               Note    INR Income/Expense  Note.1  Amount Currency  Account.1
0           Brownie   50.0        Expense     NaN    50.0      INR       50.0
1  To lended people  300.0        Expense     NaN   300.0      INR      300.0
2            Dinner   78.0        Expense     NaN    78.0      INR       78.0
3             Metro   30.0        Expense     NaN    30.0      INR       30.0
4            Snacks   67.0        Expense     NaN    67.0      INR       67.0
done
                 Date               Account        Category  Subcategory  \
0      3/2/2022 10:11  CUB - online payment            Food          0.0
1      3/2/2022 10:11  CUB - online payment           Other          0.0
2      3/1/2022 19:50  CUB - online payment            Food          0.0
3      3/1/2022 18:56  CUB - online payment  Transportation          0.0
4      3/1/2022 18:22  CUB - online payment            Food          0.0
..                ...                   ...             ...          ...
272  11/22/2021 14:16  CUB - online payment            Food          0.0
273  11/22/2021 14:16  CUB - online payment            Food          0.0
274  11/21/2021 17:07  CUB - online payment  Transportation          0.0
275  11/21/2021 15:50  CUB - online payment            Food          0.0
276  11/21/2021 13:30  CUB - online payment           Other          0.0

                   Note     INR Income/Expense  Note.1  Amount Currency  \
0               Brownie    50.0        Expense    99.0    50.0      INR
1      To lended people   300.0        Expense    99.0   300.0      INR
2                Dinner    78.0        Expense    99.0    78.0      INR
3                 Metro    30.0        Expense    99.0    30.0      INR
4                Snacks    67.0        Expense    99.0    67.0      INR
..                  ...     ...            ...     ...     ...      ...
272              Dinner    90.0        Expense    99.0    90.0      INR
273  Lunch with company    97.0        Expense    99.0    97.0      INR
274              Rapido   130.0        Expense    99.0   130.0      INR
275               Lunch   875.0        Expense    99.0   875.0      INR
276       Got from gobi  2000.0         Income    99.0  2000.0      INR

     Account.1
0         50.0
1        300.0
2         78.0
3         30.0
4         67.0
..         ...
272       90.0
273       97.0
274      130.0
275      875.0
276     2000.0

[277 rows x 11 columns]

/tmp/ipython-input-141-422065876.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['Subcategory'].fillna(0, inplace=True)
/tmp/ipython-input-141-422065876.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['Note.1'].fillna(99, inplace=True)