In [434]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Set random seed for reproducibility
random.seed(42)
np.random.seed(42)

# Generate 150 random dates
start_date = datetime(2023, 1, 1)
date_list = [start_date + timedelta(days=i) for i in range(150)]
random_dates = random.choices(date_list, k=150)

# --- WEATHER DATASET ---
weather_data = {
    'date': [d.strftime('%Y-%m-%d') if i % 10 != 0 else d.strftime('%d/%m/%Y') for i, d in enumerate(random_dates)],
    'Temp': [round(np.random.uniform(15, 40), 1) if i % 8 != 0 else 'hot' for i in range(150)],
    'humidity(%)': [np.random.randint(20, 100) if i % 7 != 0 else np.nan for i in range(150)],
    'wind_speed': [round(np.random.uniform(0, 20), 2) if i % 5 != 0 else "fast" for i in range(150)],
    'city': [random.choice(['New York', 'Los Angeles', 'Chicago', np.nan, '']) for _ in range(150)],
}

weather_df = pd.DataFrame(weather_data)

# Add some duplicate rows
weather_df = pd.concat([weather_df, weather_df.iloc[0:5]], ignore_index=True)

# --- SALES DATASET ---
sales_data = {
    'date': [d.strftime('%Y-%m-%d') if i % 6 != 0 else d.strftime('%B %d, %Y') for i, d in enumerate(random_dates)],
    'sales_amount': [round(np.random.uniform(1000, 10000), 2) if i % 10 != 0 else 'high' for i in range(150)],
    'product_id': [random.choice(['P001', 'P002', 'P003', np.nan, 'p001']) for _ in range(150)],
    'units_sold': [np.random.randint(1, 50) if i % 9 != 0 else None for i in range(150)],
    'store_location': [random.choice(['New York', 'Chicago', 'Houston', '', np.nan]) for _ in range(150)],
}

sales_df = pd.DataFrame(sales_data)

# Add some duplicate rows
sales_df = pd.concat([sales_df, sales_df.iloc[2:4]], ignore_index=True)

# --- SAVE TO CSV FILES ---
weather_df.to_csv("weather.csv", index=False)
sales_df.to_csv("sales.csv", index=False)

print("Generated messy 'weather.csv' and 'sales.csv' with 150+ rows each.")

Generated messy 'weather.csv' and 'sales.csv' with 150+ rows each.

In [435]:
sales_data= pd.read_csv('/content/sales.csv')
weather_data = pd.read_csv('/content/weather.csv')

In [436]:
sales_data

               date sales_amount product_id  units_sold store_location
0    April 06, 2023         high       P003         NaN            NaN
1        2023-01-04      6727.63       P003        28.0            NaN
2        2023-02-11      8208.54       P002        36.0       New York
3        2023-02-03      7094.52        NaN        26.0        Houston
4        2023-04-21       6160.3       p001         8.0        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001        34.0        Houston
148      2023-01-31       1960.8       p001         6.0        Houston
149      2023-02-16      4020.94       P003         2.0            NaN
150      2023-02-11      8208.54       P002        36.0       New York
151      2023-02-03      7094.52        NaN        26.0        Houston

[152 rows x 5 columns]

In [437]:
weather_data

           date  Temp  humidity(%) wind_speed      city
0    06/04/2023   hot          NaN       fast   Chicago
1    2023-01-04  24.4         56.0      15.37       NaN
2    2023-02-11  38.8         70.0       0.87       NaN
3    2023-02-03  33.3         63.0      19.89       NaN
4    2023-04-21  30.0         43.0        9.4  New York
..          ...   ...          ...        ...       ...
150  06/04/2023   hot          NaN       fast   Chicago
151  2023-01-04  24.4         56.0      15.37       NaN
152  2023-02-11  38.8         70.0       0.87       NaN
153  2023-02-03  33.3         63.0      19.89       NaN
154  2023-04-21  30.0         43.0        9.4  New York

[155 rows x 5 columns]

In [438]:
weather_data.shape

(155, 5)

In [439]:
sales_data.shape

(152, 5)

In [440]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         155 non-null    object
 1   Temp         155 non-null    object
 2   humidity(%)  132 non-null    float64
 3   wind_speed   155 non-null    object
 4   city         92 non-null     object
dtypes: float64(1), object(4)
memory usage: 6.2+ KB

In [441]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            152 non-null    object
 1   sales_amount    152 non-null    object
 2   product_id      128 non-null    object
 3   units_sold      135 non-null    float64
 4   store_location  78 non-null     object
dtypes: float64(1), object(4)
memory usage: 6.1+ KB

In [442]:
weather_data.isnull().sum()

date            0
Temp            0
humidity(%)    23
wind_speed      0
city           63
dtype: int64

In [443]:
sales_data.isnull().sum()

date               0
sales_amount       0
product_id        24
units_sold        17
store_location    74
dtype: int64

In [444]:
weather_data['humidity(%)'].dtypes

dtype('float64')

In [445]:
mean_col_A = weather_data['humidity(%)'].mean()

In [446]:
weather_data['humidity(%)'].fillna(mean_col_A, inplace=False)
weather_data['humidity(%)']

0       NaN
1      56.0
2      70.0
3      63.0
4      43.0
       ...
150     NaN
151    56.0
152    70.0
153    63.0
154    43.0
Name: humidity(%), Length: 155, dtype: float64

In [447]:
weather_data.isna().sum()

date            0
Temp            0
humidity(%)    23
wind_speed      0
city           63
dtype: int64

In [448]:
weather_data.isna().sum()

date            0
Temp            0
humidity(%)    23
wind_speed      0
city           63
dtype: int64

In [449]:
weather_data.columns

Index(['date', 'Temp', 'humidity(%)', 'wind_speed', 'city'], dtype='object')

In [450]:
mean_col_B = weather_data['city'].mode()

In [451]:
weather_data['city'] = weather_data['city'].fillna('chicgo',inplace = False)
weather_data['city']

0       Chicago
1        chicgo
2        chicgo
3        chicgo
4      New York
         ...
150     Chicago
151      chicgo
152      chicgo
153      chicgo
154    New York
Name: city, Length: 155, dtype: object

In [452]:
weather_data

           date  Temp  humidity(%) wind_speed      city
0    06/04/2023   hot          NaN       fast   Chicago
1    2023-01-04  24.4         56.0      15.37    chicgo
2    2023-02-11  38.8         70.0       0.87    chicgo
3    2023-02-03  33.3         63.0      19.89    chicgo
4    2023-04-21  30.0         43.0        9.4  New York
..          ...   ...          ...        ...       ...
150  06/04/2023   hot          NaN       fast   Chicago
151  2023-01-04  24.4         56.0      15.37    chicgo
152  2023-02-11  38.8         70.0       0.87    chicgo
153  2023-02-03  33.3         63.0      19.89    chicgo
154  2023-04-21  30.0         43.0        9.4  New York

[155 rows x 5 columns]

In [453]:
weather_data.isna().sum()

date            0
Temp            0
humidity(%)    23
wind_speed      0
city            0
dtype: int64

In [454]:
sales_data

               date sales_amount product_id  units_sold store_location
0    April 06, 2023         high       P003         NaN            NaN
1        2023-01-04      6727.63       P003        28.0            NaN
2        2023-02-11      8208.54       P002        36.0       New York
3        2023-02-03      7094.52        NaN        26.0        Houston
4        2023-04-21       6160.3       p001         8.0        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001        34.0        Houston
148      2023-01-31       1960.8       p001         6.0        Houston
149      2023-02-16      4020.94       P003         2.0            NaN
150      2023-02-11      8208.54       P002        36.0       New York
151      2023-02-03      7094.52        NaN        26.0        Houston

[152 rows x 5 columns]

In [455]:
sales_data.isna().sum()

date               0
sales_amount       0
product_id        24
units_sold        17
store_location    74
dtype: int64

In [456]:
sales_data['product_id'] = sales_data['product_id'].fillna(method = 'ffill')
sales_data['product_id']

/tmp/ipython-input-456-309723904.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sales_data['product_id'] = sales_data['product_id'].fillna(method = 'ffill')

0      P003
1      P003
2      P002
3      P002
4      p001
       ...
147    p001
148    p001
149    P003
150    P002
151    P002
Name: product_id, Length: 152, dtype: object

In [457]:
sales_data.isna().sum()

date               0
sales_amount       0
product_id         0
units_sold        17
store_location    74
dtype: int64

In [458]:
mean_col_C = sales_data['units_sold'].mean()
mean_col_C

np.float64(23.985185185185184)

In [459]:
sales_data['units_sold'].fillna(sales_data['units_sold'].mean(), inplace=True)
sales_data

/tmp/ipython-input-459-1306567509.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['units_sold'].fillna(sales_data['units_sold'].mean(), inplace=True)

               date sales_amount product_id  units_sold store_location
0    April 06, 2023         high       P003   23.985185            NaN
1        2023-01-04      6727.63       P003   28.000000            NaN
2        2023-02-11      8208.54       P002   36.000000       New York
3        2023-02-03      7094.52       P002   26.000000        Houston
4        2023-04-21       6160.3       p001    8.000000        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001   34.000000        Houston
148      2023-01-31       1960.8       p001    6.000000        Houston
149      2023-02-16      4020.94       P003    2.000000            NaN
150      2023-02-11      8208.54       P002   36.000000       New York
151      2023-02-03      7094.52       P002   26.000000        Houston

[152 rows x 5 columns]

In [460]:
sales_data['store_location']  = sales_data['store_location'].fillna('New York')
sales_data

               date sales_amount product_id  units_sold store_location
0    April 06, 2023         high       P003   23.985185       New York
1        2023-01-04      6727.63       P003   28.000000       New York
2        2023-02-11      8208.54       P002   36.000000       New York
3        2023-02-03      7094.52       P002   26.000000        Houston
4        2023-04-21       6160.3       p001    8.000000        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001   34.000000        Houston
148      2023-01-31       1960.8       p001    6.000000        Houston
149      2023-02-16      4020.94       P003    2.000000       New York
150      2023-02-11      8208.54       P002   36.000000       New York
151      2023-02-03      7094.52       P002   26.000000        Houston

[152 rows x 5 columns]

In [461]:
weather_data

           date  Temp  humidity(%) wind_speed      city
0    06/04/2023   hot          NaN       fast   Chicago
1    2023-01-04  24.4         56.0      15.37    chicgo
2    2023-02-11  38.8         70.0       0.87    chicgo
3    2023-02-03  33.3         63.0      19.89    chicgo
4    2023-04-21  30.0         43.0        9.4  New York
..          ...   ...          ...        ...       ...
150  06/04/2023   hot          NaN       fast   Chicago
151  2023-01-04  24.4         56.0      15.37    chicgo
152  2023-02-11  38.8         70.0       0.87    chicgo
153  2023-02-03  33.3         63.0      19.89    chicgo
154  2023-04-21  30.0         43.0        9.4  New York

[155 rows x 5 columns]

In [462]:
weather_data['Temp'] = weather_data['Temp'].replace('hot',25.5)
weather_data['Temp']

0      25.5
1      24.4
2      38.8
3      33.3
4      30.0
       ...
150    25.5
151    24.4
152    38.8
153    33.3
154    30.0
Name: Temp, Length: 155, dtype: object

In [463]:
weather_data['wind_speed'] = weather_data['wind_speed'].replace('fast', 10)
weather_data

           date  Temp  humidity(%) wind_speed      city
0    06/04/2023  25.5          NaN         10   Chicago
1    2023-01-04  24.4         56.0      15.37    chicgo
2    2023-02-11  38.8         70.0       0.87    chicgo
3    2023-02-03  33.3         63.0      19.89    chicgo
4    2023-04-21  30.0         43.0        9.4  New York
..          ...   ...          ...        ...       ...
150  06/04/2023  25.5          NaN         10   Chicago
151  2023-01-04  24.4         56.0      15.37    chicgo
152  2023-02-11  38.8         70.0       0.87    chicgo
153  2023-02-03  33.3         63.0      19.89    chicgo
154  2023-04-21  30.0         43.0        9.4  New York

[155 rows x 5 columns]

In [464]:
weather_data

           date  Temp  humidity(%) wind_speed      city
0    06/04/2023  25.5          NaN         10   Chicago
1    2023-01-04  24.4         56.0      15.37    chicgo
2    2023-02-11  38.8         70.0       0.87    chicgo
3    2023-02-03  33.3         63.0      19.89    chicgo
4    2023-04-21  30.0         43.0        9.4  New York
..          ...   ...          ...        ...       ...
150  06/04/2023  25.5          NaN         10   Chicago
151  2023-01-04  24.4         56.0      15.37    chicgo
152  2023-02-11  38.8         70.0       0.87    chicgo
153  2023-02-03  33.3         63.0      19.89    chicgo
154  2023-04-21  30.0         43.0        9.4  New York

[155 rows x 5 columns]

In [465]:
sales_data

               date sales_amount product_id  units_sold store_location
0    April 06, 2023         high       P003   23.985185       New York
1        2023-01-04      6727.63       P003   28.000000       New York
2        2023-02-11      8208.54       P002   36.000000       New York
3        2023-02-03      7094.52       P002   26.000000        Houston
4        2023-04-21       6160.3       p001    8.000000        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001   34.000000        Houston
148      2023-01-31       1960.8       p001    6.000000        Houston
149      2023-02-16      4020.94       P003    2.000000       New York
150      2023-02-11      8208.54       P002   36.000000       New York
151      2023-02-03      7094.52       P002   26.000000        Houston

[152 rows x 5 columns]

In [466]:
sales_data['sales_amount'] = sales_data['sales_amount'].replace('high',1000.0)
sales_data

               date sales_amount product_id  units_sold store_location
0    April 06, 2023       1000.0       P003   23.985185       New York
1        2023-01-04      6727.63       P003   28.000000       New York
2        2023-02-11      8208.54       P002   36.000000       New York
3        2023-02-03      7094.52       P002   26.000000        Houston
4        2023-04-21       6160.3       p001    8.000000        Houston
..              ...          ...        ...         ...            ...
147      2023-04-20       4550.7       p001   34.000000        Houston
148      2023-01-31       1960.8       p001    6.000000        Houston
149      2023-02-16      4020.94       P003    2.000000       New York
150      2023-02-11      8208.54       P002   36.000000       New York
151      2023-02-03      7094.52       P002   26.000000        Houston

[152 rows x 5 columns]

In [467]:
grouped_data = weather_data.groupby(['date'])['humidity(%)'].mean()
grouped_data

date
01/02/2023     NaN
01/05/2023    21.0
02/01/2023    55.0
02/02/2023    81.0
02/05/2023    51.0
              ...
2023-05-30    35.5
25/02/2023    99.0
25/04/2023    27.0
26/03/2023    67.0
29/05/2023    90.0
Name: humidity(%), Length: 106, dtype: float64

In [468]:
merge_data = weather_data.merge(sales_data)
merge_data

,date,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location
0,2023-01-04,24.4,56.0,15.37,chicgo,6727.63,P003,28.0,New York
1,2023-02-11,38.8,70.0,0.87,chicgo,8208.54,P002,36.0,New York
2,2023-02-11,38.8,70.0,0.87,chicgo,3144.13,P001,22.0,Chicago
3,2023-02-11,38.8,70.0,0.87,chicgo,8208.54,P002,36.0,New York
4,2023-02-03,33.3,63.0,19.89,chicgo,7094.52,P002,26.0,Houston
...,...,...,...,...,...,...,...,...,...
219,2023-02-11,38.8,70.0,0.87,chicgo,8208.54,P002,36.0,New York
220,2023-02-03,33.3,63.0,19.89,chicgo,7094.52,P002,26.0,Houston
221,2023-02-03,33.3,63.0,19.89,chicgo,1350.67,p001,13.0,Chicago
222,2023-02-03,33.3,63.0,19.89,chicgo,7094.52,P002,26.0,Houston
223,2023-04-21,30.0,43.0,9.4,New York,6160.3,p001,8.0,Houston

In [469]:
merge_data['sales_amount'] = merge_data['sales_amount'].astype(float).astype(int)
merge_data

,date,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location
0,2023-01-04,24.4,56.0,15.37,chicgo,6727,P003,28.0,New York
1,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36.0,New York
2,2023-02-11,38.8,70.0,0.87,chicgo,3144,P001,22.0,Chicago
3,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36.0,New York
4,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26.0,Houston
...,...,...,...,...,...,...,...,...,...
219,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36.0,New York
220,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26.0,Houston
221,2023-02-03,33.3,63.0,19.89,chicgo,1350,p001,13.0,Chicago
222,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26.0,Houston
223,2023-04-21,30.0,43.0,9.4,New York,6160,p001,8.0,Houston

In [470]:
merge_data['units_sold'] = merge_data['units_sold'].astype(float).astype(int)
merge_data

,date,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location
0,2023-01-04,24.4,56.0,15.37,chicgo,6727,P003,28,New York
1,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York
2,2023-02-11,38.8,70.0,0.87,chicgo,3144,P001,22,Chicago
3,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York
4,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston
...,...,...,...,...,...,...,...,...,...
219,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York
220,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston
221,2023-02-03,33.3,63.0,19.89,chicgo,1350,p001,13,Chicago
222,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston
223,2023-04-21,30.0,43.0,9.4,New York,6160,p001,8,Houston

In [471]:
merge_data['revenue'] = merge_data['sales_amount'] * merge_data['units_sold']
merge_data

,date,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location,revenue
0,2023-01-04,24.4,56.0,15.37,chicgo,6727,P003,28,New York,188356
1,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
2,2023-02-11,38.8,70.0,0.87,chicgo,3144,P001,22,Chicago,69168
3,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
4,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
...,...,...,...,...,...,...,...,...,...,...
219,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
220,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
221,2023-02-03,33.3,63.0,19.89,chicgo,1350,p001,13,Chicago,17550
222,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
223,2023-04-21,30.0,43.0,9.4,New York,6160,p001,8,Houston,49280

In [472]:
max_revenue = merge_data.groupby(['product_id'])['revenue'].max()
max_revenue

product_id
P001    443163
P002    352055
P003    331248
p001    310245
Name: revenue, dtype: int64

In [473]:
#convert to csv

cleaned_data = merge_data.to_csv('cleaned_data')

In [474]:
cleaned_data_json = merge_data.to_json('cleaned_data_json')

In [475]:
rolling_statistics = merge_data[ 'Temp'].rolling(window = 3).mean()
rolling_statistics

0            NaN
1            NaN
2      34.000000
3      38.800000
4      36.966667
         ...
219    38.800000
220    36.966667
221    35.133333
222    33.300000
223    32.200000
Name: Temp, Length: 224, dtype: float64

In [476]:
merge_data

,date,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location,revenue
0,2023-01-04,24.4,56.0,15.37,chicgo,6727,P003,28,New York,188356
1,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
2,2023-02-11,38.8,70.0,0.87,chicgo,3144,P001,22,Chicago,69168
3,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
4,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
...,...,...,...,...,...,...,...,...,...,...
219,2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
220,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
221,2023-02-03,33.3,63.0,19.89,chicgo,1350,p001,13,Chicago,17550
222,2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
223,2023-04-21,30.0,43.0,9.4,New York,6160,p001,8,Houston,49280

In [477]:
indexed = merge_data.set_index('date')

In [478]:
indexed

,Temp,humidity(%),wind_speed,city,sales_amount,product_id,units_sold,store_location,revenue
date,,,,,,,,,
2023-01-04,24.4,56.0,15.37,chicgo,6727,P003,28,New York,188356
2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
2023-02-11,38.8,70.0,0.87,chicgo,3144,P001,22,Chicago,69168
2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
...,...,...,...,...,...,...,...,...,...
2023-02-11,38.8,70.0,0.87,chicgo,8208,P002,36,New York,295488
2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
2023-02-03,33.3,63.0,19.89,chicgo,1350,p001,13,Chicago,17550
2023-02-03,33.3,63.0,19.89,chicgo,7094,P002,26,Houston,184444
2023-04-21,30.0,43.0,9.4,New York,6160,p001,8,Houston,49280

In [479]:
merge_data['date'] = pd.to_datetime(merge_data['date'])
merge_data = merge_data.set_index('date')

In [480]:

weekly_revenue = merge_data.resample('W')['revenue'].sum()
weekly_revenue

date
2023-01-01     810306
2023-01-08    1598478
2023-01-15    2173511
2023-01-22     446519
2023-01-29     617033
2023-02-05    2635045
2023-02-12    6115139
2023-02-19    1002889
2023-02-26     874550
2023-03-05    1456945
2023-03-12     400408
2023-03-19     787322
2023-03-26    3584010
2023-04-02     987314
2023-04-09    1429910
2023-04-16     368554
2023-04-23    1431446
2023-04-30     426453
2023-05-07     145959
2023-05-14    1791855
2023-05-21     497392
2023-05-28    1122766
2023-06-04     473732
Freq: W-SUN, Name: revenue, dtype: int64

In [481]:
food_production_data = pd.read_csv('/content/world food production.csv')
food_production_data

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [500]:
index_data1 = pd.read_csv('/content/index.csv')
index_data1

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte

In [483]:
food_production_data.shape

(11912, 24)

In [501]:
index_data1.shape

(1133, 6)

In [485]:
food_production_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11912 entries, 0 to 11911
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               11912 non-null  object
 1   Year                                 11912 non-null  int64
 2   Maize Production (tonnes)            11912 non-null  float64
 3   Rice  Production ( tonnes)           11912 non-null  float64
 4   Yams  Production (tonnes)            11912 non-null  float64
 5   Wheat Production (tonnes)            11912 non-null  float64
 6   Tomatoes Production (tonnes)         11912 non-null  float64
 7   Tea  Production ( tonnes )           11912 non-null  float64
 8   Sweet potatoes  Production (tonnes)  11912 non-null  float64
 9   Sunflower seed  Production (tonnes)  11912 non-null  float64
 10  Sugar cane Production (tonnes)       11912 non-null  float64
 11  Soybeans  Production (tonnes)        11912 non-null  float64
 12  Rye  Production (tonnes)             11912 non-null  float64
 13  Potatoes  Production (tonnes)        11912 non-null  float64
 14  Oranges  Production (tonnes)         11912 non-null  float64
 15  Peas, dry Production ( tonnes)       11912 non-null  float64
 16  Palm oil  Production (tonnes)        11912 non-null  float64
 17  Grapes  Production (tonnes)          11912 non-null  float64
 18  Coffee, green Production ( tonnes)   11912 non-null  float64
 19  Cocoa beans Production (tonnes)      11912 non-null  float64
 20  Meat, chicken  Production (tonnes)   11912 non-null  float64
 21  Bananas  Production ( tonnes)        11912 non-null  float64
 22  Avocados Production (tonnes)         11912 non-null  float64
 23  Apples Production (tonnes)           11912 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 2.2+ MB

In [486]:
food_production_data.isnull().sum()

Entity                                 0
Year                                   0
Maize Production (tonnes)              0
Rice  Production ( tonnes)             0
Yams  Production (tonnes)              0
Wheat Production (tonnes)              0
Tomatoes Production (tonnes)           0
Tea  Production ( tonnes )             0
Sweet potatoes  Production (tonnes)    0
Sunflower seed  Production (tonnes)    0
Sugar cane Production (tonnes)         0
Soybeans  Production (tonnes)          0
Rye  Production (tonnes)               0
Potatoes  Production (tonnes)          0
Oranges  Production (tonnes)           0
Peas, dry Production ( tonnes)         0
Palm oil  Production (tonnes)          0
Grapes  Production (tonnes)            0
Coffee, green Production ( tonnes)     0
Cocoa beans Production (tonnes)        0
Meat, chicken  Production (tonnes)     0
Bananas  Production ( tonnes)          0
Avocados Production (tonnes)           0
Apples Production (tonnes)             0
dtype: int64

In [487]:
food_production_data.dtypes

Entity                                  object
Year                                     int64
Maize Production (tonnes)              float64
Rice  Production ( tonnes)             float64
Yams  Production (tonnes)              float64
Wheat Production (tonnes)              float64
Tomatoes Production (tonnes)           float64
Tea  Production ( tonnes )             float64
Sweet potatoes  Production (tonnes)    float64
Sunflower seed  Production (tonnes)    float64
Sugar cane Production (tonnes)         float64
Soybeans  Production (tonnes)          float64
Rye  Production (tonnes)               float64
Potatoes  Production (tonnes)          float64
Oranges  Production (tonnes)           float64
Peas, dry Production ( tonnes)         float64
Palm oil  Production (tonnes)          float64
Grapes  Production (tonnes)            float64
Coffee, green Production ( tonnes)     float64
Cocoa beans Production (tonnes)        float64
Meat, chicken  Production (tonnes)     float64
Bananas  Production ( tonnes)          float64
Avocados Production (tonnes)           float64
Apples Production (tonnes)             float64
dtype: object

In [488]:
food_production_data

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [502]:
index_data1

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte

In [530]:
index_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1133 non-null   object
 1   datetime     1133 non-null   object
 2   cash_type    1133 non-null   object
 3   card         1133 non-null   object
 4   money        1133 non-null   float64
 5   coffee_name  1133 non-null   object
 6   card_name    1133 non-null   object
 7   card_no      1133 non-null   object
dtypes: float64(1), object(7)
memory usage: 70.9+ KB

In [531]:
index_data1.describe()

             money
count  1133.000000
mean     33.105808
std       5.035366
min      18.120000
25%      28.900000
50%      32.820000
75%      37.720000
max      40.000000

In [503]:
index_data1.isnull().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [505]:
index_data1['card'] = index_data1['card'].fillna(method = 'ffill')
index_data1.isnull().sum()

/tmp/ipython-input-505-2088460700.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  index_data1['card'] = index_data1['card'].fillna(method = 'ffill')

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

In [513]:
index_data1['card_no'] = index_data1['card'].str.split('-').str[-1]
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_type,card_name,card_no
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,0001,ANON,0001
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON,0002
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON,0002
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,0003,ANON,0003
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,0004,ANON,0004
...,...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,0443,ANON,0443
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,0040,ANON,0040
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,0444,ANON,0444
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,0445,ANON,0445
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,0446,ANON,0446

In [508]:
 index_data1.dtypes

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
card_type       object
dtype: object

In [509]:
index_data1['card_name'] = index_data1['card'].str.split('-').str[0]
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_type,card_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,0001,ANON
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,0003,ANON
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,0004,ANON
...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,0443,ANON
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,0040,ANON
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,0444,ANON
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,0445,ANON
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,0446,ANON

In [514]:
index_data1  = index_data1.replace({'card_type','card_no'})
index_data1

/tmp/ipython-input-514-3174453795.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  index_data1  = index_data1.replace({'card_type','card_no'})

,date,datetime,cash_type,card,money,coffee_name,card_type,card_name,card_no
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,0001,ANON,0001
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON,0002
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,0002,ANON,0002
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,0003,ANON,0003
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,0004,ANON,0004
...,...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,0443,ANON,0443
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,0040,ANON,0040
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,0444,ANON,0444
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,0445,ANON,0445
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,0446,ANON,0446

In [521]:
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_name,card_no
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,ANON,0001
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,ANON,0003
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,ANON,0004
...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,ANON,0443
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,ANON,0040
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,ANON,0444
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,ANON,0445
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,ANON,0446

In [523]:
money_type = index_data1.groupby(['cash_type'])['money'].max()
money_type

cash_type
card    38.7
cash    40.0
Name: money, dtype: float64

In [542]:
max_coffee_purchased = index_data1['coffee_name'].value_counts()
max_coffee_purchased

coffee_name
Americano with Milk    268
Latte                  243
Cappuccino             196
Americano              169
Cortado                 99
Hot Chocolate           74
Espresso                49
Cocoa                   35
Name: count, dtype: int64

In [552]:
# How much coffee was purchased on what date

coffee = index_data1.groupby(['coffee_name'])['date'].max()
coffee

coffee_name
Americano              2024-07-31
Americano with Milk    2024-07-31
Cappuccino             2024-07-31
Cocoa                  2024-07-31
Cortado                2024-07-31
Espresso               2024-07-30
Hot Chocolate          2024-07-29
Latte                  2024-07-31
Name: date, dtype: object

In [553]:
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_name,card_no
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,ANON,0001
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,ANON,0003
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,ANON,0004
...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,ANON,0443
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,ANON,0040
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,ANON,0444
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,ANON,0445
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,ANON,0446

In [555]:
index_data1['date'] = pd.to_datetime(index_data1['date'])
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_name,card_no
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,ANON,0001
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,ANON,0003
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,ANON,0004
...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,ANON,0443
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,ANON,0040
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,ANON,0444
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,ANON,0445
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,ANON,0446

In [557]:
index_data1['month_name'] = index_data1['date'].dt.month_name()
index_data1

,date,datetime,cash_type,card,money,coffee_name,card_name,card_no,month_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte,ANON,0001,March
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002,March
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate,ANON,0002,March
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano,ANON,0003,March
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte,ANON,0004,March
...,...,...,...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado,ANON,0443,July
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk,ANON,0040,July
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte,ANON,0444,July
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte,ANON,0445,July
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte,ANON,0446,July

In [562]:
max_coffee_sell = index_data1.groupby(['month_name'])['coffee_name'].value_counts().reset_index()
max_coffee_sell

   month_name          coffee_name  count
0       April           Cappuccino     43
1       April  Americano with Milk     42
2       April            Americano     35
3       April                Latte     31
4       April              Cortado     19
5       April        Hot Chocolate     13
6       April             Espresso      7
7       April                Cocoa      6
8        July  Americano with Milk     65
9        July                Latte     56
10       July            Americano     36
11       July           Cappuccino     32
12       July              Cortado     14
13       July             Espresso     14
14       July        Hot Chocolate     11
15       July                Cocoa      9
16       June  Americano with Milk     69
17       June                Latte     50
18       June           Cappuccino     46
19       June              Cortado     19
20       June            Americano     14
21       June        Hot Chocolate     14
22       June             Espresso     10
23       June                Cocoa      5
24      March                Latte     48
25      March            Americano     36
26      March  Americano with Milk     34
27      March              Cortado     30
28      March        Hot Chocolate     22
29      March           Cappuccino     20
30      March             Espresso     10
31      March                Cocoa      6
32        May  Americano with Milk     58
33        May                Latte     58
34        May           Cappuccino     55
35        May            Americano     48
36        May              Cortado     17
37        May        Hot Chocolate     14
38        May                Cocoa      9
39        May             Espresso      8

In [563]:
food_production_data

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [566]:
food_production_data.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')

In [578]:
city_max_maize = food_production_data.groupby(['Entity'])['Maize Production (tonnes)'].value_counts().reset_index()
city_max_maize

            Entity  Maize Production (tonnes)  count
0      Afghanistan                   720000.0      4
1      Afghanistan                   300000.0      3
2      Afghanistan                   360000.0      3
3      Afghanistan                   760000.0      3
4      Afghanistan                   316000.0      2
...            ...                        ...    ...
11130     Zimbabwe                  2341209.0      1
11131     Zimbabwe                  2357152.0      1
11132     Zimbabwe                  2545600.0      1
11133     Zimbabwe                  2828000.0      1
11134     Zimbabwe                  2833395.0      1

[11135 rows x 3 columns]