In [14]:
# 1. Use Views Instead of Copies
# ðŸ”¹ Description:
# NumPy lets you create views (shallow copies) of an array instead of deep copies.

# ðŸ”¹ Code:
# python
# Copy
# Edit
# import numpy as np

# a = np.array([1, 2, 3, 4, 5])
# b = a[1:4]   # This is a view
# b[0] = 99

# print("Original array:", a)  # a is also changed
# ðŸ”¹ Why it's memory-efficient:
# No new data is created â€” just a view on the existing array.

# âœ… 2. Use astype() with copy=False
# ðŸ”¹ Description:
# When converting datatypes, avoid unnecessary copying.

# ðŸ”¹ Code:
# python
# Copy
# Edit
# arr = np.arange(10, dtype=np.float64)
# arr_int = arr.astype(np.int32, copy=False)  # Tries to avoid a copy
# âœ… 3. Use np.memmap for Large Files
# ðŸ”¹ Description:
# Memory-mapped arrays are used to read large binary files without fully loading them into memory.

# ðŸ”¹ Code:
# python
# Copy
# Edit
# data = np.memmap('large_array.dat', dtype='float32', mode='r', shape=(1000000,))
# print(data[100])  # Access data without loading all
# âœ… 4. Use Generators (if converting from lists)
# ðŸ”¹ Description:
# Instead of loading a huge list, use generators to yield data lazily.

# ðŸ”¹ Code:
# python
# Copy
# Edit
# def gen():
#     for i in range(1000000):
#         yield i

# arr = np.fromiter(gen(), dtype=np.int32)
# âœ… 5. Use np.resize() or np.reshape() Carefully
# reshape() returns a view (when possible), hence memory efficient.

# resize() modifies the original array and may copy.

# ðŸ”¹ Example:
# python
# Copy
# Edit
# a = np.arange(12)
# b = a.reshape(3, 4)  # View â€“ no copy
# âœ… 6. Use Proper Data Types (dtype)
# ðŸ”¹ Description:
# Smaller dtype uses less memory (e.g., int8 instead of int64 if possible).

# ðŸ”¹ Code:
# python
# Copy
# Edit
# a = np.array([1, 2, 3], dtype=np.int64)
# b = a.astype(np.int8)

# print(b.nbytes)  # Less memory
# âœ… 7. Avoid Unnecessary Copies in Operations
# ðŸ”¹ Description:
# Operations like slicing, transposing, and broadcasting don't create full copies.

# ðŸ”¹ Example:
# python
# Copy
# Edit
# a = np.arange(100).reshape(10, 10)
# b = a.T   # Transpose â€“ returns a view, not a copy
# âœ… 8. Use In-place Operations (+=, *=, etc.)
# ðŸ”¹ Description:
# These modify data without allocating new memory.

# ðŸ”¹ Code:
# python
# Copy
# Edit
# a = np.array([1, 2, 3])
# a += 5  # In-place

In [15]:
#Pandas Series
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [16]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [17]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [18]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [19]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(d)
ser

a    1
b    2
c    3
dtype: int64

In [20]:
r = [1, 2]
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999
r
ser

0    999
1      2
dtype: int64

In [21]:
import pandas as pd
import numpy as np

data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)

print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

In [22]:
import pandas as pd

df = pd.read_csv("/content/nba.csv")

ser = pd.Series(df['Name'])
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [23]:
data.loc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
Name: Name, dtype: object

In [24]:
import pandas as pd

data = {'col1': [10, 20, 30, 40],
        'col2': [100, 200, 300, 400]}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

# Using .loc
print("Using .loc:")
print(df.loc['B', 'col2'])  # Access a single cell by label
print(df.loc['A':'C', 'col1']) # Slice rows by label (inclusive)

# Using .iloc
print("\nUsing .iloc:")
print(df.iloc[1, 1])  # Access a single cell by integer position
print(df.iloc[0:3, 0]) # Slice rows by integer position (exclusive)

Using .loc:
200
A    10
B    20
C    30
Name: col1, dtype: int64

Using .iloc:
200
A    10
B    20
C    30
Name: col1, dtype: int64

In [25]:
import pandas as pd

ser1 = pd.Series([1,2,3],index =['A','B','C'])
ser2 = pd.Series([4,5,6],index = ['A','B','C'])

df_sum = ser1.cov(ser2)
print(df_sum)

1.0

In [26]:
import pandas as pd

ser = pd.Series([1,2,3,4])
ser = ser.astype(float)
print(ser)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [27]:
data_dict = {'Geeks':10,'for':20,'geeks':30}
ser = pd.Series(data_dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [28]:
import pandas as pd

ser = pd.Series()

print(ser)

Series([], dtype: object)

In [29]:
import pandas as pd
import numpy as np

data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [30]:
import pandas as pd

data_list = ['g', 'e', 'e', 'k', 's']

ser = pd.Series(data_list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [31]:
import pandas as pd

data_dict = {'Geeks': 10, 'for': 20, 'geeks': 30}

ser = pd.Series(data_dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [32]:
import numpy as np
import pandas as pd


ser = pd.Series(np.linspace(1,10,5))

print(ser)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [33]:
#series using List Comprehension

ser = pd.Series(range(1,20,3),index = [x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [34]:
import pandas as pd

lst = ['Geeks','For','Geeks','is','portal','for','Geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [35]:
data = {'Name':['Tom','Nick','krish','jack'],
        'Age':[20,21,19,18]}

df = pd.DataFrame(data)
print(df)
print(df[['Name']])

    Name  Age
0    Tom   20
1   Nick   21
2  krish   19
3   jack   18
    Name
0    Tom
1   Nick
2  krish
3   jack

In [36]:
df = pd.read_csv('nba.csv',index_col= 'Name')
row2 = df.iloc[3]
print(row2)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [37]:
data = pd.read_csv('nba.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [38]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df = pd.DataFrame(dict)

print([df.isnull().sum().index])

[Index(['First Score', 'Second Score', 'Third Score'], dtype='object')]

In [39]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [40]:
data.shape

(458, 9)

In [41]:
data.size

4122

In [78]:
import pandas as pd

# Create a sample DataFrame
df = pd.read_csv('nba.csv')
df.head()


df  = df.rename(columns = {'Name':'Permanent_name'})
df

,Permanent_name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
mv = df.isnull().sum()
print(mv)

Permanent_name     1
Team               1
Number             1
Position           1
Age                1
Height             1
Weight             1
College           85
Salary            12
dtype: int64

In [44]:
print(df.notnull().sum())

Permanent_name    457
Team              457
Number            457
Position          457
Age               457
Height            457
Weight            457
College           373
Salary            446
dtype: int64

In [45]:
df = df.fillna(0)
df

,Permanent_name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,0,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,0,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,0,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,0,0,0.0,0,0.0,0,0.0,0,0.0

In [46]:
data.replace(to_replace=np.nan, value=99)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
import pandas as pd
import numpy as np

dict = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score': [52, 40, 80, 98],
        'Fourth Score': [np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)

df = df.dropna()
df

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [48]:
dict = {'First Score': [100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score': [52, np.nan, 80, 98],
        'Fourth Score': [np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)

sa= df.dropna(axis = 0)
sa

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0         98.0          65.0

In [49]:
# importing pandas as library
import pandas as pd

# creating data frame:
df = pd.DataFrame({'name': ['Akash', 'Ayush', 'Ashish',
                            'Diksha', 'Shivani'],

                   'Age': [21, 25, 23, 22, 18],

                   'MotherTongue': ['Hindi', 'English', 'Marathi',
                                    'Bhojpuri', 'Oriya']})

print("The original data frame")
df

The original data frame

      name  Age MotherTongue
0    Akash   21        Hindi
1    Ayush   25      English
2   Ashish   23      Marathi
3   Diksha   22     Bhojpuri
4  Shivani   18        Oriya

In [50]:
print("Selecting Single column value using dataframe.column name")
series_one = pd.Series(df.Age)
print(series_one)

print("Type of selected one")
print(type(series_one))

Selecting Single column value using dataframe.column name
0    21
1    25
2    23
3    22
4    18
Name: Age, dtype: int64
Type of selected one
<class 'pandas.core.series.Series'>

In [51]:
# using [] method
print("Selecting Single column value using dataframe[column name]")
series_one = pd.Series(df['Age'])
print(series_one)

print("Type of selected one")
print(type(series_one))

Selecting Single column value using dataframe[column name]
0    21
1    25
2    23
3    22
4    18
Name: Age, dtype: int64
Type of selected one
<class 'pandas.core.series.Series'>

In [77]:
data

{'Name': ['Bob', 'Charlie', 'David'],
 'Age': [23, 45, 28],
 'Score': [90, 78, 88]}

In [80]:
filtered_df = df.query("Age > 25 and Weight >200")
filtered_df

,Permanent_name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
...,...,...,...,...,...,...,...,...,...
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [53]:
filtered_df = data[data['Age']>30]
print(filtered_df)

                Name                    Team  Number Position   Age Height  \
19      Jarrett Jack           Brooklyn Nets     2.0       PG  32.0    6-3
31      Lou Amundson         New York Knicks    17.0       PF  33.0    6-9
33   Carmelo Anthony         New York Knicks     7.0       SF  32.0    6-8
34     Jose Calderon         New York Knicks     3.0       PG  34.0    6-3
43     Sasha Vujacic         New York Knicks    18.0       SG  32.0    6-7
..               ...                     ...     ...      ...   ...    ...
406  Tayshaun Prince  Minnesota Timberwolves    12.0       SF  36.0    6-9
413    Nick Collison   Oklahoma City Thunder     4.0       PF  35.0   6-10
415       Randy Foye   Oklahoma City Thunder     6.0       SG  32.0    6-4
420    Nazr Mohammed   Oklahoma City Thunder    13.0        C  38.0   6-10
434      Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0

     Weight           College      Salary
19    200.0      Georgia Tech   6300000.0
31    220.0              UNLV   1635476.0
33    240.0          Syracuse  22875000.0
34    200.0               NaN   7402812.0
43    195.0               NaN    947276.0
..      ...               ...         ...
406   212.0          Kentucky    947276.0
413   255.0            Kansas   3750000.0
415   213.0         Villanova   3135000.0
420   250.0          Kentucky    222888.0
434   265.0  Central Michigan   5016000.0

[91 rows x 9 columns]

In [54]:
filtered_df = data[data['College'] == 'Texas']
display(filtered_df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0

AttributeError: 'function' object has no attribute 'columns'

In [55]:
filtered_df = data.loc[data['Age']> 30]
filtered_df['Age']

19     32.0
31     33.0
33     32.0
34     34.0
43     32.0
       ...
406    36.0
413    35.0
415    32.0
420    38.0
434    34.0
Name: Age, Length: 91, dtype: float64

In [56]:
import pandas as pd
data1 = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 32,45],
        'Score': [85, 90, 78]}
df = pd.DataFrame(data)

# Filter rows where Age is either 25 or 45
filtered_df = df[df['Age'].isin([25, 45])]
print(filtered_df)

                    Name                    Team  Number Position   Age  \
0          Avery Bradley          Boston Celtics     0.0       PG  25.0
1            Jae Crowder          Boston Celtics    99.0       SF  25.0
7           Kelly Olynyk          Boston Celtics    41.0        C  25.0
26       Thomas Robinson           Brooklyn Nets    41.0       PF  25.0
35      Cleanthony Early         New York Knicks    11.0       SF  25.0
44      Derrick Williams         New York Knicks    23.0       PF  25.0
47         Isaiah Canaan      Philadelphia 76ers     0.0       PG  25.0
48      Robert Covington      Philadelphia 76ers    33.0       SF  25.0
59       Hollis Thompson      Philadelphia 76ers    31.0       SG  25.0
71         Terrence Ross         Toronto Raptors    31.0       SF  25.0
79             Ian Clark   Golden State Warriors    21.0       SG  25.0
105          C.J. Wilcox    Los Angeles Clippers    30.0       SG  25.0
113           Ryan Kelly      Los Angeles Lakers     4.0       PF  25.0
126         John Jenkins            Phoenix Suns    23.0       SG  25.0
130         Phil Pressey            Phoenix Suns    25.0       PG  25.0
136           Quincy Acy        Sacramento Kings    13.0       SF  25.0
143     DeMarcus Cousins        Sacramento Kings    15.0        C  25.0
144           Seth Curry        Sacramento Kings    30.0       SG  25.0
151     Cameron Bairstow           Chicago Bulls    41.0       PF  25.0
160       Nikola Mirotic           Chicago Bulls    44.0       PF  25.0
166  Matthew Dellavedova     Cleveland Cavaliers     8.0       PG  25.0
175         Jordan McRae     Cleveland Cavaliers    12.0       SG  25.0
177        Iman Shumpert     Cleveland Cavaliers     4.0       SG  25.0
179     Tristan Thompson     Cleveland Cavaliers    13.0        C  25.0
184        Lorenzo Brown         Detroit Pistons    17.0       PG  25.0
185       Reggie Bullock         Detroit Pistons    25.0       SF  25.0
202         Solomon Hill          Indiana Pacers    44.0       SF  25.0
209   Shayne Whittington          Indiana Pacers    42.0       PF  25.0
214     Jared Cunningham         Milwaukee Bucks     9.0       SG  25.0
216          John Henson         Milwaukee Bucks    31.0       PF  25.0
254   Donatas Motiejunas         Houston Rockets    20.0       PF  25.0
266       JaMychal Green       Memphis Grizzlies     0.0       PF  25.0
272     Lance Stephenson       Memphis Grizzlies     1.0       SF  25.0
284          James Ennis    New Orleans Pelicans     4.0       SF  25.0
286          Tim Frazier    New Orleans Pelicans     2.0       PG  25.0
289      Jordan Hamilton    New Orleans Pelicans    25.0       SG  25.0
290         Jrue Holiday    New Orleans Pelicans    11.0       PG  25.0
366       Nikola Vucevic           Orlando Magic     9.0        C  25.0
382            John Wall      Washington Wizards     2.0       PG  25.0
385          Will Barton          Denver Nuggets     5.0       SF  25.0
404        Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0
407          Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0
409           Greg Smith  Minnesota Timberwolves     4.0       PF  25.0
428      Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0
436       Damian Lillard  Portland Trail Blazers     0.0       PG  25.0

    Height  Weight               College      Salary
0      6-2   180.0                 Texas   7730337.0
1      6-6   235.0             Marquette   6796117.0
7      7-0   238.0               Gonzaga   2165160.0
26    6-10   237.0                Kansas    981348.0
35     6-8   210.0         Wichita State    845059.0
44     6-8   240.0               Arizona   4000000.0
47     6-0   201.0          Murray State    947276.0
48     6-9   215.0       Tennessee State   1000000.0
59     6-8   206.0            Georgetown    947276.0
71     6-7   195.0            Washington   3553917.0
79     6-3   175.0               Belmont    947276.0
105    6-5   195.0            Washington   1159680.0
113   6-11   230.0                  Duke   1724250.0
126    6-4   215.0            Vanderbilt    981348.0
130   5-11   175.0              Missouri     55722.0
136    6-7   240.0                Baylor    981348.0
143   6-11   270.0              Kentucky  15851950.0
144    6-2   185.0                  Duke    947276.0
151    6-9   250.0            New Mexico    845059.0
160   6-10   220.0                   NaN   5543725.0
166    6-4   198.0          Saint Mary's   1147276.0
175    6-5   179.0             Tennessee    111196.0
177    6-5   220.0          Georgia Tech   8988765.0
179    6-9   238.0                 Texas  14260870.0
184    6-5   189.0  North Carolina State    111444.0
185    6-7   205.0        North Carolina   1252440.0
202    6-7   225.0               Arizona   1358880.0
209   6-11   250.0      Western Michigan    845059.0
214    6-4   195.0          Oregon State    947276.0
216   6-11   229.0        North Carolina   2943221.0
254    7-0   222.0                   NaN   2288205.0
266    6-9   227.0               Alabama    845059.0
272    6-5   230.0            Cincinnati   9000000.0
284    6-7   210.0      Long Beach State    845059.0
286    6-1   170.0            Penn State    845059.0
289    6-7   220.0                 Texas   1015421.0
290    6-4   205.0                  UCLA  10595507.0
366    7-0   260.0                   USC  11250000.0
382    6-4   195.0              Kentucky  15851950.0
385    6-6   175.0               Memphis   3533333.0
404   6-10   237.0        Michigan State   1938840.0
407    6-4   194.0                   NaN  12700000.0
409   6-10   250.0          Fresno State         NaN
428    6-9   215.0           Wake Forest   8042895.0
436    6-3   195.0           Weber State   4236287.0

In [74]:
data

{'Name': ['Bob', 'Charlie', 'David'],
 'Age': [23, 45, 28],
 'Score': [90, 78, 88]}

In [65]:
filtered_df = df.query('Age > 30' and 'Weight < 30')
print(filtered_df)

Empty DataFrame
Columns: [Name, Team, Number, Position, Age, Height, Weight, College, Salary]
Index: []

In [72]:
import pandas as pd
data2 = {'Name': ['Bob', 'Charlie', 'David'],
        'Age': [23, 45, 28],
        'Score': [90, 78, 88]}
df = pd.DataFrame(data)

# AND operation: Age > 25 AND Score > 80
and_filter = df[(df['Age'] > 25) & (df['Score'] > 80)]
print("AND Operation Result:")
print(and_filter)

# OR operation: Age > 25 OR Score > 80
or_filter = df[(df['Age'] > 25) | (df['Score'] > 80)]
print("\nOR Operation Result:")
print(or_filter)

# NOT operation: NOT (Age > 25)
not_filter = df[~(df['Age'] > 25)]
print("\nNOT Operation Result:")
print(not_filter)

AND Operation Result:
    Name  Age  Score
2  David   28     88

OR Operation Result:
      Name  Age  Score
0      Bob   23     90
1  Charlie   45     78
2    David   28     88

NOT Operation Result:
  Name  Age  Score
0  Bob   23     90

In [97]:
data.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [83]:
df

,Permanent_name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# Given a dataset:
# â— Replace "N/A" and "?" with np.nan.
# â— Drop columns with >50% nulls.
# â— Fill remaining nulls with mean (for numeric) or mode (for categorical).

In [99]:
df

<bound method DataFrame.isnull of     Permanent_name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [102]:
data = pd.read_csv('nba.csv')
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:

import numpy as np
data = data.isnull()
print(data[data])


replaced_Nan = data.replace({'NaN',np.nan})
replaced_Nan

     Name  Team Number Position   Age Height Weight College Salary
0     NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN    NaN
1     NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN    NaN
2     NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN   True
3     NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN    NaN
4     NaN   NaN    NaN      NaN   NaN    NaN    NaN    True    NaN
..    ...   ...    ...      ...   ...    ...    ...     ...    ...
453   NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN    NaN
454   NaN   NaN    NaN      NaN   NaN    NaN    NaN    True    NaN
455   NaN   NaN    NaN      NaN   NaN    NaN    NaN    True    NaN
456   NaN   NaN    NaN      NaN   NaN    NaN    NaN     NaN    NaN
457  True  True   True     True  True   True   True    True   True

[458 rows x 9 columns]

/tmp/ipython-input-103-2323151554.py:6: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  replaced_Nan = data.replace({'NaN',np.nan})

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

[458 rows x 9 columns]

In [105]:
!unzip sahil.zip

Archive:  sahil.zip
   creating: Data _Aggregation/
  inflating: Data _Aggregation/anscombe.json
  inflating: Data _Aggregation/california_housing_test.csv
  inflating: Data _Aggregation/california_housing_train.csv
  inflating: Data _Aggregation/file_example_XLS_100 (1).xls
  inflating: Data _Aggregation/file_example_XLS_100.xls
  inflating: Data _Aggregation/file_example_XLS_50.xls
  inflating: Data _Aggregation/mnist_test.csv
  inflating: Data _Aggregation/mnist_train_small.csv
  inflating: Data _Aggregation/nba.csv
  inflating: Data _Aggregation/sample1.json
  inflating: Data _Aggregation/sample2 (1).json
  inflating: Data _Aggregation/sample2.json
  inflating: Data _Aggregation/sample3.json

In [116]:
import glob
import os

folder_path = '/content/Data _Aggregation'


csv_files = glob.glob(os.path.join(folder_path, '*.csv'))

# Print the list of CSV files found
print(csv_files)

['/content/Data _Aggregation/california_housing_train.csv', '/content/Data _Aggregation/mnist_test.csv', '/content/Data _Aggregation/california_housing_test.csv', '/content/Data _Aggregation/mnist_train_small.csv', '/content/Data _Aggregation/nba.csv']

In [112]:
import pandas as pd
import numpy as np

print(csv_files)

dfs = []

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

merged_df.to_csv('merged_data.csv', index=False) # index=False prevents writing the DataFrame index as a column


df =pd.read_csv('merged_data.csv')

['/content/Data _Aggregation/california_housing_train.csv', '/content/Data _Aggregation/mnist_test.csv', '/content/Data _Aggregation/california_housing_test.csv', '/content/Data _Aggregation/mnist_train_small.csv', '/content/Data _Aggregation/nba.csv']

/tmp/ipython-input-112-1768367314.py:19: DtypeWarning: Columns (957,958,960,962,964) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv('merged_data.csv')

In [140]:
df2 = pd.read_csv('merged_data.csv')
df2

/tmp/ipython-input-140-3608263366.py:1: DtypeWarning: Columns (957,958,960,962,964) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('merged_data.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,7,...,29,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
50452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
50453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
50454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
50455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
df2.shape

(50456, 966)

In [203]:
# Given a dataset:
# â— Replace "N/A" and "?" with np.nan.
# â— Drop columns with >50% nulls.e
# â— Fill remaining nulls with mean (for numeric) or mode (for categorical).


df2
null_counts = df2.isnull().sum()

total_rows = len(df2)
total_rows

null_percentages = (null_counts / total_rows) * 100
null_percentages

columns_with_high_nulls = null_percentages[null_percentages >= 50].index
columns_with_high_nulls

drop_columns = df2.drop(columns = columns_with_high_nulls, axis = 1)
df2 = drop_columns
df2

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
17000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,179.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [210]:
# Fill remaining nulls with mean (for numeric) or mode (for categorical).

columns_with_remaining_nulls = null_percentages[null_percentages < 50]
columns_with_remaining_nulls


fill_remaining_nulls = df2.fillna(df2.mean())
fill_remaining_nulls


left_columns = fill_remaining_nulls.isnull().sum()
left_columns

Series([], dtype: int64)

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
17000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,179.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [220]:
data_nba = pd.read_csv('nba.csv')
data_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
data_nba['Name'] = data_nba['Name'].astype('category')
data_nba['Team'] = data_nba['Team'].astype('category')
data_nba['Position'] = data_nba['Position'].astype('category')


categorical_cols = data_nba.dtypes[data_nba.dtypes == 'category'].index.tolist()
print(f"Categorical Columns: {categorical_cols}")

numerical_cols = data_nba.select_dtypes(include=['number']).columns.tolist()
print(f"Numerical Columns: {numerical_cols}")

Categorical Columns: ['Name', 'Team', 'Position']
Numerical Columns: ['Number', 'Age', 'Weight', 'Salary']

In [137]:
data_values  = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 'N/A',45],
        'Score': [85, '?', 78]}
df1 = pd.DataFrame(data_values)


replace_items = df1.replace(['N/A','?' ],np.nan)
print(data_values)
print(replace_items)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 'N/A', 45], 'Score': [85, '?', 78]}
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN    NaN
2  Charlie  45.0   78.0

/tmp/ipython-input-137-747622374.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  replace_items = df1.replace(['N/A','?' ],np.nan)