In [140]:
import numpy as np
import pandas as pd

In [141]:
Fake_data = pd.read_json("/content/fake_property_data.json")
Fake_data

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,None,None,875 Davis Overpass Suite 394,South Kathrynside,...,-81.853842,Manors,6389,Downsizing,None,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,None,Minimal Flood,1159 Johnson Pass Apt. 567,South Jamesfurt,...,-105.265714,Cliff,9321,None,None,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,No,Flood Zone,9082 Anna Villages Apt. 511,Port Juanshire,...,-77.250254,Square,9963,None,None,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,None,Flood Zone,86578 Lawson Park Suite 865,South Brianfurt,...,-85.460902,Springs,2173,Job Transfer,None,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,No,Flood Zone,309 Roy Brook Apt. 282,Lake Scott,...,-82.300397,Brooks,5985,Investor Sale,Yes,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"139 Fisher Spur, North Brandon, WA 23114","139 Fisher Spur, North Brandon, WA 23114",Offered,Pending,Bulk,Chicgo,No,None,139 Fisher Spur,North Brandon,...,-84.880198,Curve,4822,None,Yes,David Thompson,3.08,"[{'List_Price': 408947, 'High_FMR': 5480}, {'L...","[{'HOA': 417, 'HOA_Flag': 'No'}]","[{'Underwriting_Rehab': 49365, 'Rehab_Calculat..."
9996,"275 Gutierrez Views, Lake Victoria, WY 63275","275 Gutierrez Views, Lake Victoria, WY 63275",Reviewed,Close,M L S,Dalas,Yes,Flood Zone,275 Gutierrez Views,Lake Victoria,...,-112.249250,Field,4850,None,None,Sophia Williams,9.88,"[{'List_Price': 183622, 'Previous_Rent': 1938,...","[{'HOA': 103, 'HOA_Flag': 'No'}, {'HOA': 334, ...","[{'Underwriting_Rehab': 29448, 'Rehab_Calculat..."
9997,"341 Vanessa Harbor, North Melissa, CT 39313","341 Vanessa Harbor, North Melissa, CT 39313",Null,Always Kick,Bulk,Tampa,None,Flood Zone,341 Vanessa Harbor,North Melissa,...,-103.962353,Junction,8370,None,Yes,Jason Miller,7.74,"[{'List_Price': 477121, 'Zestimate': 215341, '...",[],"[{'Underwriting_Rehab': 63941, 'Rehab_Calculat..."
9998,"78647 Brittany Village, North Ethanborough, NY...","78647 Brittany Village, North Ethanborough, NY...",Offered,Cancel,MLS,Chicago,None,Minimal Flood,78647 Brittany Village,North Ethanborough,...,-104.227932,Locks,9005,Investor Sale,No,Samantha Pierce,6.62,"[{'List_Price': 137917, 'Previous_Rent': 2079,...","[{'HOA': 461, 'HOA_Flag': 'Yes'}, {'HOA': 469,...","[{'Underwriting_Rehab': 34520, 'Rehab_Calculat..."
9999,"5461 Nichols Throughway, East Crystalborough, ...","5461 Nichols Throughway, East Crystalborough, ...",Cancelled,Cancelled,M L S,Tampa,Yes,Flood Zone,5461 Nichols Throughway,East Crystalborough,...,-80.907870,Light,5199,Downsizing,Yes,Emily Patel,3.73,[],"[{'HOA': 18, 'HOA_Flag': 'No'}, {'HOA': 170, '...","[{'Underwriting_Rehab': 55645, 'Rehab_Calculat..."

In [142]:
Field_data = pd.read_excel('/content/Field Config.xlsx')
Field_data

               Column Name Target Table
0           Property_Title     property
1                  Address     property
2          Reviewed_Status        Leads
3       Most_Recent_Status        Leads
4                   Source        Leads
..                     ...          ...
61          Selling_Reason        leads
62  Seller_Retained_Broker        leads
63                HOA_Flag          HOA
64          Final_Reviewer        leads
65          School_Average     property

[66 rows x 2 columns]

In [143]:
Fake_data.shape

(10000, 45)

In [144]:
Field_data.shape

(66, 2)

In [145]:
Fake_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_Title          10000 non-null  object
 1   Address                 10000 non-null  object
 2   Reviewed_Status         10000 non-null  object
 3   Most_Recent_Status      10000 non-null  object
 4   Source                  10000 non-null  object
 5   Market                  10000 non-null  object
 6   Occupancy               6718 non-null   object
 7   Flood                   6591 non-null   object
 8   Street_Address          10000 non-null  object
 9   City                    10000 non-null  object
 10  State                   10000 non-null  object
 11  Zip                     10000 non-null  int64
 12  Property_Type           10000 non-null  object
 13  Highway                 6602 non-null   object
 14  Train                   6669 non-null   object
 15  Tax_Rate                10000 non-null  float64
 16  SQFT_Basement           10000 non-null  int64
 17  HTW                     6599 non-null   object
 18  Pool                    6585 non-null   object
 19  Commercial              6716 non-null   object
 20  Water                   6697 non-null   object
 21  Sewage                  6748 non-null   object
 22  Year_Built              10000 non-null  int64
 23  SQFT_MU                 10000 non-null  int64
 24  SQFT_Total              10000 non-null  int64
 25  Parking                 7511 non-null   object
 26  Bed                     10000 non-null  int64
 27  Bath                    10000 non-null  int64
 28  BasementYesNo           6635 non-null   object
 29  Layout                  7446 non-null   object
 30  Net_Yield               10000 non-null  float64
 31  IRR                     10000 non-null  float64
 32  Rent_Restricted         6701 non-null   object
 33  Neighborhood_Rating     10000 non-null  int64
 34  Latitude                10000 non-null  float64
 35  Longitude               10000 non-null  float64
 36  Subdivision             10000 non-null  object
 37  Taxes                   10000 non-null  int64
 38  Selling_Reason          7511 non-null   object
 39  Seller_Retained_Broker  6687 non-null   object
 40  Final_Reviewer          10000 non-null  object
 41  School_Average          10000 non-null  float64
 42  Valuation               10000 non-null  object
 43  HOA                     10000 non-null  object
 44  Rehab                   10000 non-null  object
dtypes: float64(6), int64(9), object(30)
memory usage: 3.4+ MB

In [146]:
Field_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column Name   66 non-null     object
 1   Target Table  66 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [147]:
Field_data.columns

Index(['Column Name', 'Target Table'], dtype='object')

In [148]:
Fake_data.columns

Index(['Property_Title', 'Address', 'Reviewed_Status', 'Most_Recent_Status',
       'Source', 'Market', 'Occupancy', 'Flood', 'Street_Address', 'City',
       'State', 'Zip', 'Property_Type', 'Highway', 'Train', 'Tax_Rate',
       'SQFT_Basement', 'HTW', 'Pool', 'Commercial', 'Water', 'Sewage',
       'Year_Built', 'SQFT_MU', 'SQFT_Total', 'Parking', 'Bed', 'Bath',
       'BasementYesNo', 'Layout', 'Net_Yield', 'IRR', 'Rent_Restricted',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision', 'Taxes',
       'Selling_Reason', 'Seller_Retained_Broker', 'Final_Reviewer',
       'School_Average', 'Valuation', 'HOA', 'Rehab'],
      dtype='object')

In [149]:
Fake_data.isnull().sum()

Property_Title               0
Address                      0
Reviewed_Status              0
Most_Recent_Status           0
Source                       0
Market                       0
Occupancy                 3282
Flood                     3409
Street_Address               0
City                         0
State                        0
Zip                          0
Property_Type                0
Highway                   3398
Train                     3331
Tax_Rate                     0
SQFT_Basement                0
HTW                       3401
Pool                      3415
Commercial                3284
Water                     3303
Sewage                    3252
Year_Built                   0
SQFT_MU                      0
SQFT_Total                   0
Parking                   2489
Bed                          0
Bath                         0
BasementYesNo             3365
Layout                    2554
Net_Yield                    0
IRR                          0
Rent_Restricted           3299
Neighborhood_Rating          0
Latitude                     0
Longitude                    0
Subdivision                  0
Taxes                        0
Selling_Reason            2489
Seller_Retained_Broker    3313
Final_Reviewer               0
School_Average               0
Valuation                    0
HOA                          0
Rehab                        0
dtype: int64

In [150]:
Field_data.isnull().sum()

Column Name     0
Target Table    0
dtype: int64

In [151]:
numeric_columns= Fake_data.select_dtypes(include =np.number)
numeric_columns

,Zip,Tax_Rate,SQFT_Basement,Year_Built,SQFT_MU,SQFT_Total,Bed,Bath,Net_Yield,IRR,Neighborhood_Rating,Latitude,Longitude,Taxes,School_Average
0,35116,2.95,367,1921,1110,5649,2,3,3.53,14.48,2,38.415818,-81.853842,6389,9.09
1,60391,1.75,284,1995,1184,5119,2,2,6.59,22.92,3,35.329786,-105.265714,9321,7.71
2,22393,2.19,283,1952,2492,7606,5,2,5.24,21.17,3,36.793896,-77.250254,9963,6.04
3,90366,3.39,1927,1937,2586,4822,1,2,9.65,14.12,3,35.456811,-85.460902,2173,3.44
4,84478,2.20,1904,1991,1200,9191,5,4,2.88,17.24,2,41.066408,-82.300397,5985,9.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,23114,3.34,773,2014,2558,6372,4,4,17.28,24.05,5,41.585551,-84.880198,4822,3.08
9996,63275,3.18,1440,2001,2177,5690,2,2,10.41,17.38,4,34.402968,-112.249250,4850,9.88
9997,39313,2.94,1900,2003,1079,8538,2,3,13.49,12.07,4,39.496975,-103.962353,8370,7.74
9998,21362,1.28,570,2006,599,6561,1,3,2.65,19.47,1,41.295438,-104.227932,9005,6.62
9999,8497,3.39,1981,1956,1544,7343,4,1,5.46,28.37,3,38.546763,-80.907870,5199,3.73

In [152]:
numeric_columns.count()

Zip                    10000
Tax_Rate               10000
SQFT_Basement          10000
Year_Built             10000
SQFT_MU                10000
SQFT_Total             10000
Bed                    10000
Bath                   10000
Net_Yield              10000
IRR                    10000
Neighborhood_Rating    10000
Latitude               10000
Longitude              10000
Taxes                  10000
School_Average         10000
dtype: int64

In [153]:
Fake_data['Flood']

0                None
1       Minimal Flood
2          Flood Zone
3          Flood Zone
4          Flood Zone
            ...
9995             None
9996       Flood Zone
9997       Flood Zone
9998    Minimal Flood
9999       Flood Zone
Name: Flood, Length: 10000, dtype: object

In [154]:
Fake_data['Flood'].fillna('Unknown')
Fake_data['Water'].fillna(Fake_data['Water'].mode()[0])

0       Well
1       City
2       City
3       City
4       City
        ...
9995    Well
9996    City
9997    Well
9998    City
9999    Well
Name: Water, Length: 10000, dtype: object

In [155]:
Fake_data['SQFT_Total'].fillna(Fake_data['SQFT_Total'].median())

0       5649
1       5119
2       7606
3       4822
4       9191
        ...
9995    6372
9996    5690
9997    8538
9998    6561
9999    7343
Name: SQFT_Total, Length: 10000, dtype: int64

In [156]:
Fake_data['SQFT_Total'].fillna(Fake_data['SQFT_Total'].median())

0       5649
1       5119
2       7606
3       4822
4       9191
        ...
9995    6372
9996    5690
9997    8538
9998    6561
9999    7343
Name: SQFT_Total, Length: 10000, dtype: int64

In [157]:


Fake_data['SQFT_Total'].fillna(Fake_data['SQFT_Total'].mode())

0       5649
1       5119
2       7606
3       4822
4       9191
        ...
9995    6372
9996    5690
9997    8538
9998    6561
9999    7343
Name: SQFT_Total, Length: 10000, dtype: int64

In [158]:
Fake_data['Occupancy'] = Fake_data['Occupancy'].fillna(method = 'ffill')

/tmp/ipython-input-752682991.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Fake_data['Occupancy'] = Fake_data['Occupancy'].fillna(method = 'ffill')

In [159]:
Fake_data.isnull().sum()

Property_Title               0
Address                      0
Reviewed_Status              0
Most_Recent_Status           0
Source                       0
Market                       0
Occupancy                    2
Flood                     3409
Street_Address               0
City                         0
State                        0
Zip                          0
Property_Type                0
Highway                   3398
Train                     3331
Tax_Rate                     0
SQFT_Basement                0
HTW                       3401
Pool                      3415
Commercial                3284
Water                     3303
Sewage                    3252
Year_Built                   0
SQFT_MU                      0
SQFT_Total                   0
Parking                   2489
Bed                          0
Bath                         0
BasementYesNo             3365
Layout                    2554
Net_Yield                    0
IRR                          0
Rent_Restricted           3299
Neighborhood_Rating          0
Latitude                     0
Longitude                    0
Subdivision                  0
Taxes                        0
Selling_Reason            2489
Seller_Retained_Broker    3313
Final_Reviewer               0
School_Average               0
Valuation                    0
HOA                          0
Rehab                        0
dtype: int64

In [160]:
Fake_data = Fake_data.ffill()

cols_to_ffill = [
    "Highway", "Train", "Tax_Rate", "SQFT_Basement", "HTW", "Pool", "Commercial",
    "Water", "Sewage", "Year_Built", "SQFT_MU", "SQFT_Total", "Parking", "Bed", "Bath",
    "BasementYesNo", "Layout", "Net_Yield", "IRR", "Rent_Restricted",
    "Neighborhood_Rating", "Latitude", "Longitude", "Subdivision", "Taxes",
    "Selling_Reason", "Seller_Retained_Broker", "Final_Reviewer", "School_Average",
    "Valuation", "HOA", "Rehab"
]

Fake_data[cols_to_ffill] = Fake_data[cols_to_ffill].ffill()

In [161]:
Fake_data.isnull().sum()

Property_Title            0
Address                   0
Reviewed_Status           0
Most_Recent_Status        0
Source                    0
Market                    0
Occupancy                 2
Flood                     1
Street_Address            0
City                      0
State                     0
Zip                       0
Property_Type             0
Highway                   0
Train                     1
Tax_Rate                  0
SQFT_Basement             0
HTW                       0
Pool                      0
Commercial                0
Water                     0
Sewage                    0
Year_Built                0
SQFT_MU                   0
SQFT_Total                0
Parking                   0
Bed                       0
Bath                      0
BasementYesNo             2
Layout                    0
Net_Yield                 0
IRR                       0
Rent_Restricted           0
Neighborhood_Rating       0
Latitude                  0
Longitude                 0
Subdivision               0
Taxes                     0
Selling_Reason            0
Seller_Retained_Broker    4
Final_Reviewer            0
School_Average            0
Valuation                 0
HOA                       0
Rehab                     0
dtype: int64

In [162]:
print(Fake_data['Train'])

0       None
1        Far
2       Near
3        Far
4       Near
        ...
9995    Near
9996    Near
9997    Near
9998    Near
9999     Far
Name: Train, Length: 10000, dtype: object

In [163]:
Fake_data['Train'] = Fake_data['Train'].fillna('Near')

In [164]:
Fake_data.isnull().sum()

Property_Title            0
Address                   0
Reviewed_Status           0
Most_Recent_Status        0
Source                    0
Market                    0
Occupancy                 2
Flood                     1
Street_Address            0
City                      0
State                     0
Zip                       0
Property_Type             0
Highway                   0
Train                     0
Tax_Rate                  0
SQFT_Basement             0
HTW                       0
Pool                      0
Commercial                0
Water                     0
Sewage                    0
Year_Built                0
SQFT_MU                   0
SQFT_Total                0
Parking                   0
Bed                       0
Bath                      0
BasementYesNo             2
Layout                    0
Net_Yield                 0
IRR                       0
Rent_Restricted           0
Neighborhood_Rating       0
Latitude                  0
Longitude                 0
Subdivision               0
Taxes                     0
Selling_Reason            0
Seller_Retained_Broker    4
Final_Reviewer            0
School_Average            0
Valuation                 0
HOA                       0
Rehab                     0
dtype: int64

In [165]:
print(Fake_data['Seller_Retained_Broker'])

0       None
1       None
2       None
3       None
4        Yes
        ...
9995     Yes
9996     Yes
9997     Yes
9998      No
9999     Yes
Name: Seller_Retained_Broker, Length: 10000, dtype: object

In [166]:
Fake_data['Seller_Retained_Broker	'] = Fake_data['Seller_Retained_Broker'].fillna('yes')

In [167]:
Fake_data.isnull().sum()

Property_Title              0
Address                     0
Reviewed_Status             0
Most_Recent_Status          0
Source                      0
Market                      0
Occupancy                   2
Flood                       1
Street_Address              0
City                        0
State                       0
Zip                         0
Property_Type               0
Highway                     0
Train                       0
Tax_Rate                    0
SQFT_Basement               0
HTW                         0
Pool                        0
Commercial                  0
Water                       0
Sewage                      0
Year_Built                  0
SQFT_MU                     0
SQFT_Total                  0
Parking                     0
Bed                         0
Bath                        0
BasementYesNo               2
Layout                      0
Net_Yield                   0
IRR                         0
Rent_Restricted             0
Neighborhood_Rating         0
Latitude                    0
Longitude                   0
Subdivision                 0
Taxes                       0
Selling_Reason              0
Seller_Retained_Broker      4
Final_Reviewer              0
School_Average              0
Valuation                   0
HOA                         0
Rehab                       0
Seller_Retained_Broker\t    0
dtype: int64

In [168]:
print(Fake_data['Occupancy'])

0       None
1       None
2         No
3         No
4         No
        ...
9995      No
9996     Yes
9997     Yes
9998     Yes
9999     Yes
Name: Occupancy, Length: 10000, dtype: object

In [169]:
Fake_data['Occupancy'] = Fake_data['Occupancy'].fillna('Yes')
Fake_data['Seller_Retained_Broker	'] = Fake_data['Seller_Retained_Broker'].fillna('Yes', inplace = True)
Fake_data['BasementYesNo']= Fake_data['BasementYesNo'].fillna('Yes')

/tmp/ipython-input-1776341052.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Fake_data['Seller_Retained_Broker	'] = Fake_data['Seller_Retained_Broker'].fillna('Yes', inplace = True)

In [170]:
Fake_data.isnull().sum()

Property_Title                  0
Address                         0
Reviewed_Status                 0
Most_Recent_Status              0
Source                          0
Market                          0
Occupancy                       0
Flood                           1
Street_Address                  0
City                            0
State                           0
Zip                             0
Property_Type                   0
Highway                         0
Train                           0
Tax_Rate                        0
SQFT_Basement                   0
HTW                             0
Pool                            0
Commercial                      0
Water                           0
Sewage                          0
Year_Built                      0
SQFT_MU                         0
SQFT_Total                      0
Parking                         0
Bed                             0
Bath                            0
BasementYesNo                   0
Layout                          0
Net_Yield                       0
IRR                             0
Rent_Restricted                 0
Neighborhood_Rating             0
Latitude                        0
Longitude                       0
Subdivision                     0
Taxes                           0
Selling_Reason                  0
Seller_Retained_Broker          0
Final_Reviewer                  0
School_Average                  0
Valuation                       0
HOA                             0
Rehab                           0
Seller_Retained_Broker\t    10000
dtype: int64

In [171]:
Fake_data['Seller_Retained_Broker\t']= Fake_data['Seller_Retained_Broker\t'].fillna('Yes')

In [172]:
Fake_data.isnull().sum()

Property_Title              0
Address                     0
Reviewed_Status             0
Most_Recent_Status          0
Source                      0
Market                      0
Occupancy                   0
Flood                       1
Street_Address              0
City                        0
State                       0
Zip                         0
Property_Type               0
Highway                     0
Train                       0
Tax_Rate                    0
SQFT_Basement               0
HTW                         0
Pool                        0
Commercial                  0
Water                       0
Sewage                      0
Year_Built                  0
SQFT_MU                     0
SQFT_Total                  0
Parking                     0
Bed                         0
Bath                        0
BasementYesNo               0
Layout                      0
Net_Yield                   0
IRR                         0
Rent_Restricted             0
Neighborhood_Rating         0
Latitude                    0
Longitude                   0
Subdivision                 0
Taxes                       0
Selling_Reason              0
Seller_Retained_Broker      0
Final_Reviewer              0
School_Average              0
Valuation                   0
HOA                         0
Rehab                       0
Seller_Retained_Broker\t    0
dtype: int64

In [173]:
Fake_data.columns

Index(['Property_Title', 'Address', 'Reviewed_Status', 'Most_Recent_Status',
       'Source', 'Market', 'Occupancy', 'Flood', 'Street_Address', 'City',
       'State', 'Zip', 'Property_Type', 'Highway', 'Train', 'Tax_Rate',
       'SQFT_Basement', 'HTW', 'Pool', 'Commercial', 'Water', 'Sewage',
       'Year_Built', 'SQFT_MU', 'SQFT_Total', 'Parking', 'Bed', 'Bath',
       'BasementYesNo', 'Layout', 'Net_Yield', 'IRR', 'Rent_Restricted',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision', 'Taxes',
       'Selling_Reason', 'Seller_Retained_Broker', 'Final_Reviewer',
       'School_Average', 'Valuation', 'HOA', 'Rehab',
       'Seller_Retained_Broker\t'],
      dtype='object')

In [174]:
Fake_data.isnull().sum().head(5)

Property_Title        0
Address               0
Reviewed_Status       0
Most_Recent_Status    0
Source                0
dtype: int64

In [175]:
Fake_data.shape

(10000, 46)

In [176]:
Fake_data.isnull().sum()

Property_Title              0
Address                     0
Reviewed_Status             0
Most_Recent_Status          0
Source                      0
Market                      0
Occupancy                   0
Flood                       1
Street_Address              0
City                        0
State                       0
Zip                         0
Property_Type               0
Highway                     0
Train                       0
Tax_Rate                    0
SQFT_Basement               0
HTW                         0
Pool                        0
Commercial                  0
Water                       0
Sewage                      0
Year_Built                  0
SQFT_MU                     0
SQFT_Total                  0
Parking                     0
Bed                         0
Bath                        0
BasementYesNo               0
Layout                      0
Net_Yield                   0
IRR                         0
Rent_Restricted             0
Neighborhood_Rating         0
Latitude                    0
Longitude                   0
Subdivision                 0
Taxes                       0
Selling_Reason              0
Seller_Retained_Broker      0
Final_Reviewer              0
School_Average              0
Valuation                   0
HOA                         0
Rehab                       0
Seller_Retained_Broker\t    0
dtype: int64

In [177]:

property_df = Fake_data[['Property_Title', 'Source', 'Most_Recent_Status', 'Reviewed_Status']]
property_df

,Property_Title,Source,Most_Recent_Status,Reviewed_Status
0,"875 Davis Overpass Suite 394, South Kathrynsid...",Internal,Closed,
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Auction.com,Cancelled,Reviewed
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...",Opendoor,Null,Null
3,"86578 Lawson Park Suite 865, South Brianfurt, ...",M.L.S.,Cancelled,Closed
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478",M.L.S.,Cancelled,Closed
...,...,...,...,...
9995,"139 Fisher Spur, North Brandon, WA 23114",Bulk,Pending,Offered
9996,"275 Gutierrez Views, Lake Victoria, WY 63275",M L S,Close,Reviewed
9997,"341 Vanessa Harbor, North Melissa, CT 39313",Bulk,Always Kick,Null
9998,"78647 Brittany Village, North Ethanborough, NY...",MLS,Cancel,Offered
9999,"5461 Nichols Throughway, East Crystalborough, ...",M L S,Cancelled,Cancelled

In [178]:
location_df = Fake_data[['Address', 'Street_Address', 'City', 'State', 'Zip', 'Latitude', 'Longitude', 'Subdivision', 'Market']]

In [179]:
location_df

,Address,Street_Address,City,State,Zip,Latitude,Longitude,Subdivision,Market
0,"875 Davis Overpass Suite 394, South Kathrynsid...",875 Davis Overpass Suite 394,South Kathrynside,CO,35116,38.415818,-81.853842,Manors,Chicago
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...",1159 Johnson Pass Apt. 567,South Jamesfurt,MN,60391,35.329786,-105.265714,Cliff,Dallas
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...",9082 Anna Villages Apt. 511,Port Juanshire,VI,22393,36.793896,-77.250254,Square,Tampa
3,"86578 Lawson Park Suite 865, South Brianfurt, ...",86578 Lawson Park Suite 865,South Brianfurt,DC,90366,35.456811,-85.460902,Springs,
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478",309 Roy Brook Apt. 282,Lake Scott,FL,84478,41.066408,-82.300397,Brooks,Tampa
...,...,...,...,...,...,...,...,...,...
9995,"139 Fisher Spur, North Brandon, WA 23114",139 Fisher Spur,North Brandon,WA,23114,41.585551,-84.880198,Curve,Chicgo
9996,"275 Gutierrez Views, Lake Victoria, WY 63275",275 Gutierrez Views,Lake Victoria,WY,63275,34.402968,-112.249250,Field,Dalas
9997,"341 Vanessa Harbor, North Melissa, CT 39313",341 Vanessa Harbor,North Melissa,CT,39313,39.496975,-103.962353,Junction,Tampa
9998,"78647 Brittany Village, North Ethanborough, NY...",78647 Brittany Village,North Ethanborough,NY,21362,41.295438,-104.227932,Locks,Chicago
9999,"5461 Nichols Throughway, East Crystalborough, ...",5461 Nichols Throughway,East Crystalborough,UT,8497,38.546763,-80.907870,Light,Tampa

In [180]:
property_features_df = Fake_data[['Property_Type', 'Occupancy', 'Year_Built', 'Layout', 'Bed', 'Bath', 'Pool', 'Commercial', 'Parking', 'SQFT_Total', 'SQFT_Basement', 'SQFT_MU', 'BasementYesNo']]

In [181]:
property_features_df

,Property_Type,Occupancy,Year_Built,Layout,Bed,Bath,Pool,Commercial,Parking,SQFT_Total,SQFT_Basement,SQFT_MU,BasementYesNo
0,SFR,Yes,1921,Split,2,3,No,Yes,Street,5649,367,1110,Yes
1,Single Family Home,Yes,1995,Colonial,2,2,No,Yes,Driveway,5119,284,1184,Yes
2,Townhouse,No,1952,Ranch,5,2,No,Yes,Driveway,7606,283,2492,No
3,Duplex,No,1937,Ranch,1,2,No,Yes,Driveway,4822,1927,2586,No
4,Townhouse,No,1991,Split,5,4,Yes,Yes,Garage,9191,1904,1200,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Single Family Home,No,2014,Colonial,4,4,Yes,No,Garage,6372,773,2558,Yes
9996,Duplex,Yes,2001,Colonial,2,2,Yes,Yes,Garage,5690,1440,2177,Yes
9997,Single Family Home,Yes,2003,Split,2,3,Yes,No,Street,8538,1900,1079,No
9998,Single Family Home,Yes,2006,Split,1,3,No,No,Garage,6561,570,599,No
9999,Single Family Home,Yes,1956,Colonial,4,1,No,Yes,Garage,7343,1981,1544,No

In [182]:
utility_df = Fake_data[['Flood', 'Highway', 'Train', 'Water', 'Sewage', 'HTW']]

In [183]:
utility_df

              Flood Highway Train Water  Sewage  HTW
0              None     Far  Near  Well    City  Yes
1     Minimal Flood     Far   Far  City  Septic  Yes
2        Flood Zone     Far  Near  City    City  Yes
3        Flood Zone    Near   Far  City    City   No
4        Flood Zone     Far  Near  City    City   No
...             ...     ...   ...   ...     ...  ...
9995     Flood Zone    Near  Near  Well  Septic  Yes
9996     Flood Zone    Near  Near  Well  Septic  Yes
9997     Flood Zone     Far  Near  Well  Septic  Yes
9998  Minimal Flood    Near  Near  City  Septic  Yes
9999     Flood Zone     Far   Far  Well  Septic   No

[10000 rows x 6 columns]

In [184]:
financial_df = Fake_data[['Taxes', 'Tax_Rate', 'HOA', 'Rehab', 'Net_Yield', 'IRR', 'Valuation']]
financial_df

,Taxes,Tax_Rate,HOA,Rehab,Net_Yield,IRR,Valuation
0,6389,2.95,"[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat...",3.53,14.48,"[{'List_Price': 93528, 'Previous_Rent': 1699, ..."
1,9321,1.75,"[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat...",6.59,22.92,"[{'List_Price': 434027, 'Previous_Rent': 2955,..."
2,9963,2.19,"[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat...",5.24,21.17,"[{'List_Price': 353402, 'Previous_Rent': 3478}..."
3,2173,3.39,"[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati...",9.65,14.12,"[{'List_Price': 149122, 'Previous_Rent': 3012,..."
4,5985,2.20,"[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat...",2.88,17.24,"[{'List_Price': 362688, 'Previous_Rent': 2315,..."
...,...,...,...,...,...,...,...
9995,4822,3.34,"[{'HOA': 417, 'HOA_Flag': 'No'}]","[{'Underwriting_Rehab': 49365, 'Rehab_Calculat...",17.28,24.05,"[{'List_Price': 408947, 'High_FMR': 5480}, {'L..."
9996,4850,3.18,"[{'HOA': 103, 'HOA_Flag': 'No'}, {'HOA': 334, ...","[{'Underwriting_Rehab': 29448, 'Rehab_Calculat...",10.41,17.38,"[{'List_Price': 183622, 'Previous_Rent': 1938,..."
9997,8370,2.94,[],"[{'Underwriting_Rehab': 63941, 'Rehab_Calculat...",13.49,12.07,"[{'List_Price': 477121, 'Zestimate': 215341, '..."
9998,9005,1.28,"[{'HOA': 461, 'HOA_Flag': 'Yes'}, {'HOA': 469,...","[{'Underwriting_Rehab': 34520, 'Rehab_Calculat...",2.65,19.47,"[{'List_Price': 137917, 'Previous_Rent': 2079,..."
9999,5199,3.39,"[{'HOA': 18, 'HOA_Flag': 'No'}, {'HOA': 170, '...","[{'Underwriting_Rehab': 55645, 'Rehab_Calculat...",5.46,28.37,[]

In [202]:
review_df = Fake_data[['Seller_Retained_Broker', 'Seller_Retained_Broker\t', 'Final_Reviewer', 'Selling_Reason']]
review_df

,Seller_Retained_Broker,Seller_Retained_Broker\t,Final_Reviewer,Selling_Reason
0,Yes,Yes,Jason Miller,Downsizing
1,Yes,Yes,Luis Garcia,Downsizing
2,Yes,Yes,Samantha Pierce,Downsizing
3,Yes,Yes,Samantha Pierce,Job Transfer
4,Yes,Yes,Priya Sharma,Investor Sale
...,...,...,...,...
9995,Yes,Yes,David Thompson,Investor Sale
9996,Yes,Yes,Sophia Williams,Investor Sale
9997,Yes,Yes,Jason Miller,Investor Sale
9998,No,Yes,Samantha Pierce,Investor Sale
9999,Yes,Yes,Emily Patel,Downsizing

In [213]:
other_df = Fake_data[['Rent_Restricted', 'Neighborhood_Rating', 'School_Average']]
other_df

     Rent_Restricted  Neighborhood_Rating  School_Average
0                Yes                    2            9.09
1                Yes                    3            7.71
2                Yes                    3            6.04
3                Yes                    3            3.44
4                Yes                    2            9.01
...              ...                  ...             ...
9995             Yes                    5            3.08
9996              No                    4            9.88
9997              No                    4            7.74
9998              No                    1            6.62
9999              No                    3            3.73

[10000 rows x 3 columns]

In [201]:
lead_col2 = Field_data.groupby('Target Table')['Column Name'].count()
lead_col2

Target Table
HOA           2
Leads         6
Rehab        13
Taxes         1
Valuation     9
leads         3
property     32
Name: Column Name, dtype: int64

In [206]:

property_df.to_csv("property.csv", index = False)

In [207]:
location_df.to_csv("location.csv", index = False)

In [208]:
property_features_df.to_csv("property_features_df.csv", index = False)

In [209]:
utility_df.to_csv("utility.csv", index = False)

In [210]:
financial_df.to_csv("financial.csv", index = False)

In [215]:
other_df.to_csv("others.csv", index = False)

In [216]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.4/91.4 kB 475.0 kB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp312-cp312-linux_x86_64.whl size=129064 sha256=109a48b980ba23c332517f103aa5f6b8acf1708de124bb180f832a6acbf67a79
  Stored in directory: /root/.cache/pip/wheels/27/95/18/7f176fffd46629e710c04c810b9c4d7d4358fe7c96a7d2306d
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.7